body {
    background-color: black;
    color: black; 
}

.servicio-card img {
  width: 100%;
  height: 450px; /* ajusta el alto  */
  object-fit: cover; /* hace que la imagen se recorte sin deformarse */
  border-radius: 8px; /* opcional, para esquinas suaves */
}
